

/*부모요소 스타일*/


#banner{
    width:100%;
    height:240px;
    background-image: url("../../images/background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


#effect1{
    width:100%;
    height:auto;
    padding:50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*검색결과가 있을때*/
    display: none;

}

#effect2{
    width:100%;
    height:auto;
    padding:50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*검색결과가 없을때*/
    display: none;
}


#sub_nav{
    width:100%;
    height:70px;
    border:1px solid #ebebee;
    border-right:0;
    border-left:0;
    background-color:#fff;
    position: relative;
    overflow: hidden;
}


#sub_main{
    width:100%;
    height:auto;
    background-color:#fff;
    position: relative;
    overflow: hidden;
}



/*sub 텍스트들 스타일*/

.sub_title,
.sub_text1{
    margin: 0;
}


.sub_title{
    font-size:35px;
    margin:15px 0 12px 0;
}

.sub_text1{
    font-size: 17px;
    color:rgb(120, 130, 143);
    font-weight:400;
    margin-bottom:8px;
}










/*banner 자식요소 스타일*/


#banner .banner_container{
    width:100%;
    height:240px;
    display: flex;
    align-items:center;
    justify-content:center;
}

/*banner 텍스트영역*/

.banner_title{
    margin:65px 0 0 0;
    display: flex;
    align-items: center;
}

.banner_title img{
    margin:4px 8px 0 0;
}

.banner_title span{
    font-size: 40px;
    color:#fff;
    font-weight:500;
}


/*banner 검색 박스*/
.formarea{
    margin:66px 20px 0 410px;
    position: relative;
}

.formarea .searchbox{
    width:400px;
    background-color: #fff;
    transition: all 0.5s;
}

.formarea .search_icon{
    position: absolute;
    top:10px;
    right:10px;
    opacity: 0.5;
}

.formarea .searchbox:focus ~.search_icon{
    display: none;
}


/*banner 네이비 버튼*/

.navybutton{
    background-color:#595497;
    margin:66px 0 0 0;
}









/*sub_nav 자식요소 스타일*/


#sub_nav .nav_container{
    width:100%;
    height:100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

/*nav 스타일*/
.nav_parent{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0;
}

.nav_parent .gnb_menu{
    width:300px;
    height:70px;
    margin-right:8px;
    font-size: 18px;
    font-weight: 500;
    display:flex;
    align-items:center;
    justify-content:center;
}
.nav_parent .gnb_menu:nth-child(3){
    margin-right:0;
}


/*네비게이션 별도 스타일*/

#menu1{
    background-color: rgba(0, 0, 0, 0.08);
}






/*sub_main 컨테이너박스*/

#sub_main .sub_main_container{
    width:100%;
    height:auto;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    padding:50px 0 80px 0;
}



/*content 안내문구 스타일*/
#content1 h1,
#content2 h1,
#content3 h1{
    text-align: center;
    margin-bottom: 60px;
}


/*content 목록 스타일*/

#content1 .list,
#content2 .list,
#content3 .list{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    margin: 0;
    padding:0;
}

#content1 .list .listmenu,
#content2 .list .listmenu,
#content3 .list .listmenu{
    width:800px;
    height:auto;
    background-color:rgb(247, 247, 247);
    border:1px solid rgb(236, 236, 236);
    border-radius: 4px;
    margin-bottom: 10px;
}

#content1 .list .listmenu:nth-child(3),
#content2 .list .listmenu:nth-child(3),
#content3 .list .listmenu:nth-child(3){
    margin-bottom: 0;
}



/*li 타이틀부분 스타일*/

#list-title1,
#list-title2,
#list-title3,
#list-title4,
#list-title5,
#list-title6,
#list-title7,
#list-title8,
#list-title9{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

#list-title1 span,
#list-title2 span,
#list-title3 span,
#list-title4 span,
#list-title5 span,
#list-title6 span,
#list-title7 span,
#list-title8 span,
#list-title9 span{
    font-size: 20px;
    font-weight: 500;
}


/*li 클릭시 안에내용 스타일*/

#list-area1,
#list-area2,
#list-area3,
#list-area4,
#list-area5,
#list-area6,
#list-area7,
#list-area8,
#list-area9{
    padding:32px;
    display: none;
}


#content2,
#content3{
    display: none;
}
